<ion-card>
  <img [alt]="patient.name" [src]="patient.photo" />
  <ion-card-header>
    <div class="container_age">
      <p>{{patient.age.toString() | agePipe}} </p>
    </div>
    <ion-card-title>{{patient.name}} {{patient.lastName}}</ion-card-title>
    <ion-card-subtitle>{{patient.date | date}}</ion-card-subtitle>

  </ion-card-header>
  <ion-card-content>
    <div class="grid_container_patient_data">
      <div class="column">
        <div class="data">
          <ion-icon class="icon" [name]="icons.water" class="icon" />
          <p>{{patient.glucoseLevel.toString()| glucosePipe}}</p>
        </div>
        <div class="data">
          <ion-icon class="icon" [name]="icons.barbell" class="icon" />
          <p>{{patient.physicalActivityHours.toString() | hoursPipe}}</p>
        </div>
      </div>
      <div class="column">
        <div class="data">
          <ion-icon class="icon" [name]="icons.medkit" class="icon" />
          <p>{{patient.lastMedication}}</p>
        </div>
        <div class="data">
          <ion-icon class="icon" [name]="icons.restaurant" class="icon" />
          <p>{{patient.lastMeal}}</p>
        </div>
      </div>
    </div>
    <div class="button-container">
      <app-custom-button
      onkeypress=""
      text="Reporte"
      [leftIcon]="icons.download"
      (click) = "generateReport()"
      />
      <app-custom-button
      onkeypress=""
      type="outline"
      text="Crear Plan"
      (click) = "createPlan()"
      />
    </div>
    
  </ion-card-content>
</ion-card>
