.ion-content-scroll-host {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .content {
    padding: 1rem 1.5rem;
    font-size: medium;
  }

  .info_welcome_user{
    display: flex;
    flex-direction: column;
    align-items: start;
}