<app-custom-header title="" />
<ion-content class="content">
  <div class="title">
    <ion-icon class="icon" [name]="icons.planes" />
    <span class="title-text">Planes</span>
  </div>
  <div class="container_cards">
    @for (plan of plans; track plan.plan_Id){
    <app-custom-card-plan [plan]="plan" />
    } @if (plans.length === 0){
    <app-custom-not-found message="No tienes planes disponibles" />
    }
  </div>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <app-custom-footer></app-custom-footer>
  </ion-toolbar>
</ion-footer>
