<app-custom-header title="" />
<ion-content class="content">
  <div class="title">
    <ion-icon class="icon" [name]="icons.planes" />
    <span class="title-text">Planes</span>
  </div>
  <div class="container_cards">
    @for (plan of plans; track plan.planId){
    <app-custom-card-plan [plan]="plan" />
    } @empty {
    <div class="container_empty">
      <app-custom-not-found message="No tienes planes asignados">
      </app-custom-not-found>
    </div>
    }
  </div>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <app-custom-footer></app-custom-footer>
  </ion-toolbar>
</ion-footer>
