
.title {
    display: flex; // Habilita flexbox
    flex-direction: column; // Hace que los elementos estén en columna
    justify-content: center; // Centra los elementos horizontalmente
    align-items: center; // Centra los elementos verticalmente
    text-align: center; // Centra el texto horizontalmente
    font-weight: bold; // Hace que el texto sea en negrita
    font-size: 2rem; // Tamaño de la fuente
}

.card {
    margin-top: 1rem; // Margen superior de 1rem
}

ion-icon{
    color: #F68F5D;
}

.content{
    margin-top: 20px; // Margen superior de 20px
}