.container_info_welcome_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
    margin: 20px;
  }

  .form {
    padding: 20px;
    align-items: start;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
  }

  .container_cards {
    margin-top: 20px;
  }

  .container_empty {
    text-align: center;
    margin: 20px 0;
  }

  .custom-input {
    border: 1px solid #d3d3d3;
    padding: 1em;
    margin: 1em;
    margin-right: 1em;
    width: 90%;
    border-radius: 1em;
    height: 50vh;
  }

  .ion-textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black; /* Cambia a cualquier color que necesites */
    opacity: 1; /* Firefox */
  }

  ion-button {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    --background: #F68F5D !important;
    color: white !important;
    transition: transform 0.1s ease-in-out;
    &:active{
      --background-activated: none !important;
      transform: scale(0.95);
    }
  }

  .outline {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    --border-color: #F68F5D;
    --border-width: 0.15em;
    transition: transform 0.1s ease-in-out;
    &:active{
      --background-activated: none !important;
      transform: scale(0.95);
    }
  }

  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
  }

  .counter-text {
    font-size: 1em;
    color: #F68F5D;
  }

  .counter-number {
    font-size: 4em;
    color: #F68F5D;
  }