<app-custom-header title="Pacientes"></app-custom-header>

<ion-content>
  <div class="info_welcome_user">
    <h1>Bienvenido, {{user?.nombre}}👋🏽</h1>
  </div>
    <div class="header-list">
      <p>Tus pacientes</p>
      <!-- <select name="" id="" class="filters">
        <option value="">Edad</option>
        <option value="">Fecha</option>
        <option value="">Nivel de glucosa</option>
      </select> -->
      <ion-list>
        <ion-item>
          <ion-select aria-label="Filter" interface="popover" placeholder="Ordenar por" (ionChange)="onSelectChange($event)">
            <ion-select-option value="date">Más reciente</ion-select-option>
            <ion-select-option value="age">Mayor edad</ion-select-option>
            <ion-select-option value="glucoseLevel">Mayor nivel glucosa</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
  </div>
  
  <div class="container_cards">
    @for (patient of patients; track $index) {
      <app-custom-card-patient [patient]="patient"
      ></app-custom-card-patient>
    } @empty {
      <div class="container_empty">
        <app-custom-not-found message="No tienes pacientes asignados"> </app-custom-not-found>
      </div>
    }
  </div>
</ion-content>


<ion-footer collapse="fade">
  <ion-toolbar>
    <app-custom-footer></app-custom-footer>
  </ion-toolbar>
</ion-footer>