<app-custom-header title="Pacientes"></app-custom-header>

<ion-content>
  <div class="info_welcome_user">
    <h1>Bienvenido, {{user?.nombre}}👋🏽</h1>
  </div>
  <div class="header-list">
      <p>Tus pacientes</p>
      <select name="" id="" class="filters">
        <option value="">Edad</option>
        <option value="">Fecha</option>
        <option value="">Nivel de glucosa</option>
      </select>
  </div>
  <div class="container_cards">
    @for (patient of patients; track $index) {
      <app-custom-card-patient [patient]="patient"
      ></app-custom-card-patient>
    } @empty {
      <div class="container_empty">
        <p>No tienes pacientes asignados</p>
      </div>
    }
  </div>
</ion-content>


<ion-footer collapse="fade">
  <ion-toolbar>
    <app-custom-footer></app-custom-footer>
  </ion-toolbar>
</ion-footer>