.toolbar{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.toolbar_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar_content .title{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}


.no-shadow {
  --ion-background: transparent;
  box-shadow: none;
  --box-shadow: none;
}

.custom-header {
  position: relative;
}

.custom-header::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #989696;
}

.logout-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    font-size: 1rem;
    color: #F68F5D;
    font-weight: 600;
    cursor: pointer;
}


