@import "src/global.scss";

.solid {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  --background: #F68F5D;
  color: white !important;
  transition: transform 0.1s ease-in-out;
  &:active{
    --background-activated: none !important;
    transform: scale(0.95);
  } 
}

.outline {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  --border-color: #F68F5D;
  --border-width: 0.15em;
  transition: transform 0.1s ease-in-out;
  &:active{
    --background-activated: none !important;
    transform: scale(0.95);
  }
  
}
