@import "src/global.scss";

.solid {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  --border-color: #F68F5D;
  --border-width: 0.15em;
  --background-activated: #F68F5D;
  --color-activated: #fff;
}

.outline {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  --border-color: #F68F5D;
  --border-width: 0.15em;
  --background-activated: #F68F5D;
  --color-activated: #fff;
}
