<ion-card class="card">
  <ion-card-header>
    <ion-card-title>
      <div class="title-row">
        <h3>
          {{ recommendation.titulo }}
        </h3>
        <span class="date-exec">{{ convertToTime( recommendation.horaEjecucion) | date:'shortTime'}}</span>
      </div>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <div class="state-content">
    <div
      class="state-recommendation"
      [ngClass]="setColorState(recommendation.estado)"
    ></div>
    <p  [ngClass]="setColorStateText(recommendation.estado)">{{recommendation.estado}}</p>
  </div>
  </ion-card-content>
</ion-card>
