

.container-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_text_social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_text_social p{
    font-size: 0.8rem;
    font-weight: 600;
    color: #A8A8A8;
}

.container_buttons_socials{
  margin-bottom: 2rem;
}

.bottom_div {
  position: absolute;
  bottom: 0;
  padding-bottom: 1em;
  width: 100%;
}
