<app-custom-header title="DiabeCare"></app-custom-header>

<ion-content class="container-form" [fullscreen]="true">
  <app-custom-logo class="logo" widthImage="10rem" heightImage="10rem"></app-custom-logo>

  <form [formGroup]="loginForm">
    <app-custom-input type="text" label="Correo electrónico" [icon]="icons.person"
      [control]="loginForm.controls['email']" />

    <app-custom-input type="password" label="Contraseña" [icon]="icons.lock"
      [control]="loginForm.controls['password']" />

    @if (viewToken) {
    <app-custom-input type="text" label="Token del dispositivo" [icon]="icons.key"
      [control]="loginForm.controls['token']" />
    }

    <app-custom-button id="open-loading" onkeypress="" colorLeftIcon="primary"  text="Iniciar sesión"
      type="solid" (click)="login()" />
  </form>
  <div class="container_text_social">
    <p>O iniciar sesión con: </p>
  </div>
  <div class="container_buttons_socials">
    <app-custom-button [leftIcon]="icons.google" type="solid" text="Google" />
    <app-custom-button [leftIcon]="icons.facebook" type="solid" text="Facebook" />
    <app-custom-button [leftIcon]="icons.key" type="solid" text="Token Télefono" onkeypress="showToken()"(click)="showToken()"/>
  </div>
  <div class="bottom_div">
    <div class="container_text_social">
      <p>¿No tienes cuenta?</p>
    </div>
    <app-custom-button id="open-loading" onkeypress="saludar()" type="outline" text="Registrarse" />
  </div>
  <ion-loading trigger="open-loading" message="Loading..." [duration]="2000" spinner="circles"></ion-loading>
</ion-content>
